<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>jstvc - Videoton TV Computer Emulator</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="3rdparty/jszip.js"></script>
	<script src="3rdparty/jszip-inflate.js"></script>
	<script src="3rdparty/jszip-load.js"></script>
	<script src="games/list.json"></script>
	<script type="module">
		import { appStart } from './frontend.js';
		appStart();
	</script>
	<link rel="shortcut icon" type="image/png" href="/jstvcico.png" />
	<link rel="stylesheet" type="text/css" href="style/view.css">
</head>

<body>
	<div id="app">
		<!-- header -->
		<div id="header" class="rightcolumn">
			<img src="vtvc.jpg" />
			<ul>
				<li><button class="ctrlbutton" v-on:click="showDialog('disk')">💾</button>
					<button class="ctrlbutton" v-on:click="showDialog('settings')">🛠</button></li>
				<li><button class="ctrlbutton" v-on:click="emuToggleRun"><span v-if="isRunning">🛑</span><span
							v-else="isRunning">▶</span></button>
					<button class="ctrlbutton" v-on:click="emuReset">♻</button></li>
			</ul>
			<ul>
				<li><a href="https://github.com/teki/jstvc">jstvc VVEERR</a></li>
				<li><a href="http://tvc.hu/html/inenglish.html">TVC (en)</a></li>
				<li><a href="http://z80.info">Z80 (en)</a></li>
			</ul>
			<ul>
				<li><a href="http://www.tvc.hu">tvc.hu (hu)</a></li>
				<li><a href="https://github.com/teki/jstvc">project (hu)</a></li>
			</ul>
		</div>
		<!-- tvc monitor -->
		<div id="monitor" class="monitor" tabindex="0" ref="monitor">
			<canvas class="tvcanvas" ref="tvcanvas" width="608" height="288" v-on:selectstart.prevent
				v-on:click="handleMonitorClicked"></canvas>
		</div>
		<!-- mode -->
		<div id="footer">
			status: <span>{{ statusMsg }}</span><br />
		</div>
		<!-- common toolbar -->
		<div class="popuppanel" v-show="showDlg == 'disk'">
			<strong>To load a disk:</strong>
			<ul style="margin-left: 2em;">
				<li>Select a disk. (this will insert the selected disk into the A: drive).</li>
				<li>Type: load "*" then Enter.</li>
				<li>Most programs will run automatically, just type "run" if you got an "ok" after load.</li>
			</ul>
			Disks: <select v-model="selectedDisk">
				<option v-for="disk in disks" v-bind:value="disk">
					{{ disk }}
				</option>
			</select>
		</div>
		<!-- help -->
		<div class="popuppanel" v-show="showDlg == 'settings'">
			<div id="help">
				<strong>Keyboard mapping:</strong>
				<ul style="margin-left: 2em;">
					<li>The PC keyboard is automatically mapped to the right TVC keys (it can fail on some browser + OS
						combinations).</li>
					<li>The built in joystick is mapped to the cursor keys, fire => TAB.</li>
				</ul>
			</div>
			<!-- dev toolbar -->
			<div>
				local: <select id="slocal"></select>
				<button id="loadlocal">load</button>
				ROM: <select v-model="emuSelected">
					<option v-for="emu in emuDefs" v-bind:value="emu">
						{{ emu }}
					</option>
				</select>
			</div>
		</div>

	</div>
</body>

</html>