/* ----------------------------
simple reset
---------------------------- */
body {
	height: 100%;
	width: 100%;
}

html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

/* custom */
body {
	background-color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

.rightcolumn {
	float: left;
	width: 600px;
	margin-left: 5px;
	padding: 3px;
	border-bottom: 1px solid black;
}

.debugger {
	display: none;
}

.monitor {
	width: 608px;
	height: 460px;
	float: left;
	margin: 3px;
	transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
}

.tvcanvas {
	transform-origin: left top 0;
	transform: scaleY(1.6);
	-webkit-transform-origin: left top 0;
	-webkit-transform: scaleY(1.6);
}

#toolbar {
}
#header {
	height: 5em;
}
#header img {
	display: block;
	float: left;
}
#header ul {
	display: block;
	float: left;
	width: 100px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
}
#statusblock {
	padding-left: 20px;
}
#header a:link { color: black; text-decoration: none; }
#header a:visited { color: black; text-decoration: none; }
#header a:hover { color: black; text-decoration: none; }
#header a:active { color: black; text-decoration: none; }

#fps {
	color: white;
}
/* dbg */
#regs {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	white-space: pre;
}
#dbg {
	float: left;
}
.tbitem {
	width: 50px;
}
.greenline {
	color: green;
	font-weight: bold;
	border: 1px solid green;
}
#bpoints {
	width: 400px;
}
#bstop {
	width: 65px;
}
