/* ----------------------------
simple reset
---------------------------- */
body {
	height: 100%;
	width: 100%;
}

html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

/* custom */
body {
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

#monitor {
	width: 608px;
	height: 460px;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#tvcanvas {
	transform-origin: left top 0;
	transform: scaleY(1.6);
	-webkit-transform-origin: left top 0;
	-webkit-transform: scaleY(1.6);
    outline: none;
}
